.main-spot-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.single-spot {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 8px;
    width: 250px;
    height: 300px;
}

single-spot:hover {
    cursor: pointer;
}
.spot-image {
    height: 200px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.information-box {
    display: flex;
    padding: 8px;
    gap: 4px;
}

.info{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.rating{
    width: 25%;
}

.star-icon{
    font-weight: 200;
    font-size: 8px;
}

.spots-name{
    font-weight: bold;
}