.image-not-found-css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.headHome{
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.headHome:hover{
   color: red;
}
