.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid lightgray 2px;
}

.email-input {
    height: 50px;
    width: 30em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-left: solid black 2px;
    border-right: solid black 1.9px;
}


.username-input {
    height: 50px;
    width: 30em;
    border-left: solid black 2px;
    border-right: solid black 1.9px;
}

.firstname-input {
    height: 50px;
    width: 30em;
    border-left: solid black 2px;
    border-right: solid black 1.9px;
}

.lastname-input {
    height: 50px;
    width: 30em;
    border-left: solid black 2px;
    border-right: solid black 1.9px;
}

.password-input-signup {
    height: 50px;
    width: 30em;
    border-left: solid black 2px;
    border-right: solid black 1.9px;
}

.confirmpassword-input {
    height: 50px;
    width: 30em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: solid black 2px;
    border-right: solid black 1.9px;
    border-bottom: solid black 2px;
}


.signup-title {
    display: flex;
    justify-content: center;
    /* border-bottom: solid lightgray 2px; */
}

.signup-submit-button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
    height: 45px;
    width: 31em;
}

.sign-up-submit-div {
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.sign-up-title-webname {
    padding-right: 6em;
    
}

.disclaimer-signup {
    padding-right: 4em;
    padding-top: 5px;
}


.main-signup-container {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.validation-color-signup {
    color: red;
    list-style-type: none;
}

.error-div-signup{
    display: flex;
    justify-content: center;
    padding-right:  150px;
}