.main-container-single-spot {
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1040px;
    margin: 0 auto;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spot-name {
    font-size: 2em;
    font-weight: bold;
    margin: 8px;
}

.spot-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.star-icon {
    font-size: 14px;
    font-weight: 600;
    margin: 0 4px;
}

.main-buttom-pic-div {
    display: flex;
    gap: 50px;
    width: 100%;
}

.right-div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.rating-date {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.rate-date {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.spot-images-div {
    text-align: center;
    height: 100%;
    width: 100%;
}

.single-image {
    object-fit: cover;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;

}

.rating-ontop {
    font-weight: bold;
}

.numReview {
    text-decoration: underline;
}

.location-underline {
    font-weight: bold;
    text-decoration: underline;
}

.edit-and-delete-buttons {
    display: flex;
    flex-direction: row;
}

.top-button {
    padding-right: 10px;
}

.description-info {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 10px;
}

.roomInfo {
    padding-bottom: 25px;
    border-bottom: solid lightgray 1px;
}

.self-checkin {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 6px;
}

.user-description-div {
    padding-top: 25px;
}

.monica {
    font-weight: bold;
    padding-bottom: 6px;
}

.location-description-div {
    padding-top: 30px;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: solid lightgray 1px;
}

.aircover-title-image img {
    width: 150px;
    padding: 30px;
    padding-left: 0px;
}

.learn-more {
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
    border-bottom: solid lightgray 1px;
    padding-bottom: 35px;
}

.reviewbox-rating-reviews {
    display: flex;
    font-size: 1.2em;
}

.numReview-bottom-spot {
    padding-left: 15px;
    font-weight: bold;
}

.reviewbox-rating-reviews {
    padding-bottom: 15px;
    padding-top: 25px;

}

.left-div-review {
    padding-bottom: 20px;
    padding-top: 20px;

}

.review-delete {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.review-delete button {
    cursor: pointer;
}

.reviewboxborder {
    border: solid lightgray 1px;
    height: 89%;
    border-radius: 25px;
    box-shadow: 3px 3px 8px gray;
    width: 274px;
}

.spot-description-price {
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 27px;
    font-weight: bold;
    font-size: 1.5em;
}

.price-night {
    display: flex;
}

.night {
    padding-top: 24px;
    padding-left: 5px;
    font-size: 1.2em;
}

.spot-details-rating {
    padding-left: 27px;
    padding-top: 8px;
    display: flex;
}

.numReview-bottom-spot-2 {
    padding-left: 5px;
    text-decoration: underline;
}

.num-of-reviews {
    color: gray;
}

.rating-color {
    font-size: 13px;
}

.enter-here {
    padding-left: 27px;
    padding-top: 10px;

}

.all-reviews-div {
    overflow: scroll;
    overflow-x: hidden;
    height: 25rem;
}

.input-review {
    display: flex;
    flex-direction: column;
}

.select {
    padding-top: 20px;
    padding-left: 27px;
    padding-bottom: 10px;
}

.textarea {
    padding-left: 27px;
    padding-top: 20px;

}

.select-rating {
    font-weight: bold;
    padding-bottom: 8px;
}

.review-submit-button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;

}

.button-padding {
    padding-left: 27px;
    padding-right: 20px;
}

.firstname-lastname-font {
    font-weight: bold;
    display: flex;
}

.two {
    color: gray;
}

.lastName{
    padding-left: 6px;
}

.firstName{
    padding-left: 6px;
}

.errors{
    list-style-type: none;
    color: red;
}
.editSpot-info{
    display: flex;
    justify-content: center;
    padding-right: 70px;
}