.main-container-single-spot {
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1040px;
    margin: 0 auto;
}

.spot-name {
    font-size: 2em;
    font-weight: bold;
    margin: 8px;
}

.spot-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.star-icon {
    font-size: 14px;
    font-weight: 600;
    margin: 0 4px;
}

.main-buttom-pic-div {
    display: flex;
    justify-content: space-between;
}

.right-div {
    display: flex;
    flex-direction: column;
}

.rating-date {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.rate-date {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.names-delete-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-images-div {
    text-align: center;
    height: 100%;
    width: 100%;
}

.single-image {
    object-fit: cover;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
  
}

.rating-ontop {
    font-weight: bold;
}

.numReview {
    text-decoration: underline;
}

.location-underline {
    font-weight: bold;
    text-decoration: underline;
}

.edit-and-delete-buttons {
    display: flex;
    flex-direction: row;
}

.top-button {
    padding-right: 10px;
}

.description-info {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 10px;
}

.roomInfo {
    padding-bottom: 25px;
    border-bottom: solid lightgray 1px;
}

.self-checkin {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 6px;
}

.user-description-div {
    padding-top: 25px;
}

.monica {
    font-weight: bold;
    padding-bottom: 6px;
}

.location-description-div {
    padding-top: 30px;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: solid lightgray 1px;
}

.aircover-title-image img{
    width: 150px;
    padding: 30px;
    padding-left:0px;
}

.learn-more{
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
    border-bottom: solid lightgray 1px;
    padding-bottom: 35px;
}

.reviewbox-rating-reviews{
    display: flex;
    font-size: 1.2em;
}

.numReview-bottom-spot{
    padding-left: 15px;
    font-weight: bold;
}

.reviewbox-rating-reviews{
    padding-bottom: 15px;
    padding-top: 25px;
}