.spot-inputs {
    display: flex;
    flex-direction: column;
}

.Spot-creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createSpot-name-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-address-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-city-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-state-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-country-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-price-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-previewImage-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-description-input {
    margin: 2px 8px;
    height: 40px;
    border-radius: 8px;
}

.createSpot-buttons {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
}

.createSpot-buttons {
    border-radius: 10px;
    background-color: white;
}

.creatSpot-canceledit-button {
    background-color: #f5f5f5;
}

.create-spot-main-div {
    width: 600px;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 47em;
    padding-right: 47em;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.Introduction {
    text-align: center;
    text-decoration: underline;
}

.input-box {
    padding-right: 7rem;
    display: flex;
    justify-content: right;
}

.name-before-input {
    padding-right: 20px;
    padding-top: 15px;
    display: flex;
    width: 75px;
}

.button-divs {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
}

.submit-button {
    padding-top: 20px;
}

.cancel-button {
    padding-top: 20px;
}

.createSpot-submit-button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
}

.creatSpot-canceledit-button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
}

.createSpot-name-input {
    width: 199px;
}

.createSpot-address-input {
    width: 199px;
}

.createSpot-city-input {
    width: 199px;
}

.createSpot-state-input {
    width: 199px;
}

.createSpot-country-input {
    width: 199px;
}

.createSpot-previewImage-input {
    width: 199px;
}

.createSpot-price-input {
    width: 199px;
}

.createSpot-description-input {
    width: 199px;
}





.editSpot-Introduction {
    justify-content: center;
    display: flex;
}

.editSpot-button {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;

}

.editSpot-submit-button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    bottom: 20px;
    margin-right: 0;
}