.hidden {
    display: none;
}

.nav-main {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 230, 230);
    padding: 20px 30px;
    align-items: center;
    position: sticky;
    top: 0;
    bottom: 100px;
    z-index: 999;
    height: 2rem;
    background: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.title {
    font-size: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.title h3 {
    color: #ff385c;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.title img {
    height: 48px;
    cursor: pointer;
}

/* .nav {
    flex-grow: 1;
} */

.nav-home-img {
    width: 40px;
    height: 40px;
}

.nav-three {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 34rem; */
}


.list-profile-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #FFF;
    top: -5px;
    right: 168px;
    box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7);
    border-radius: 15px;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    overflow: hidden;
    height: 11em;
    /* justify-content: space-around; */
}

.dropdown-things{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
}

.profile-dropdown:hover {
    cursor: pointer;
}

.profile-btn {
    box-sizing: border-box;
    border-radius: 21px;
    border: 1px solid #cccccc;
    height: 40px;
    width: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    cursor: pointer;
    align-items: center;
    position: relative;

}

.fas fa-user-circle {
    margin-top: 0px;
    padding-left: 18px;
}

.createSpotButton {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 15px;
}


li .createSpotButton:hover {
    background-color: rgb(238, 238, 238);
}

.userInformation {
    padding: 20px 0px;
    border-bottom: solid lightgray 1px;
}

.button-dropdown-item {
    border: none;
    background-color: #FFF;
    padding: 10px;
    width: 80%;
    text-align: left;
    white-space: nowrap;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.button-dropdown-item:hover {
    background-color: #e9e6e6;
}

.button-div {
    height: 40px;
    width: 58px;
    background: #ffffff;
    padding-top: 8px;
}


.user-first-last-name {
    padding-left: 15px;
    padding-top: 10px;
}

.user-email {
    padding-top: 10px;
    
}

.logout-btn {
    /* padding-left: 15px; */
    padding-top: 10px;
}



.lastTwo {
    display: flex;
    flex-direction: column;
}

.username {
    display: flex;
    font-weight: bold;
}

.user-username {
    display: flex;
}

.first-last-div {
    display: flex;
}

.first-last {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}

.email-div {
    display: flex;
}

.email {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}

.create-middle-buttons1{
    padding-right: 20px;
}

.middle-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 33rem; */
}

.middle-button-modal-thing{
    border: solid 1px darkgray;
    padding: 10px;
    border-radius: 20px;
    width: 345px;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7); */

}
.middle-button-modal-thing:hover{
    border: solid 1px darkgray;
    padding: 10px;
    border-radius: 20px;
    width: 345px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 14px 0.5px rgba(221, 221, 221, 0.7);

}

.button-search-thing{
    background-color: #ff385c;
    padding: 4px;
    border-radius: 50px;
}


.Anywhere{
    border-right: solid 2px darkgray;
    padding: 7px;
    padding-right: 10px;
}
.any-week{
    border-right: solid 2px darkgray;
    padding: 7px;
    padding-right: 10px;
}


.add-guests{
    padding: 7px;
    padding-right: 10px;
}


.createASpotButton{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: white;
    border: none;
    border-radius: 20px;
    white-space: nowrap;
}
.createASpotButton:hover{
   background-color: rgb(226, 225, 225);
}